<div id="message-list" style="min-height:80%">
    <div class="message">
        <span class="message-time" style="float: right">9:34:01 PM</span>
        <div class="well">
            <strong>Dickson Wong</strong> : <p>HAHAHA</p>
        </div>
    </div>
    <div class="message">
        <span class="message-time" style="float: right">9:34:31 PM</span>
        <div class="well">
            <strong>Jason Tong</strong> : <p>HEHE</p>
        </div>
    </div>
</div>
<form id="message-form" >
    <div class="form-group">
    <label>Enter Message</label>
    <textarea class="form-control" id="message" required></textarea>
    <br>
    <input type="submit" class="btn btn-success" value="Send Message">
    <input type="reset" class="btn btn-default" value="Reset">
    </div>
</form>