<div >
    Choose Any Date
    <div class='poll' style="height:200px; overflow-y:scroll">
        <ul id ="date_list" style ='list-style-type:none;padding:0px'>
            <li><input type='checkbox' class='date_poll'> Date: 
                rendering...
            </li>
        </ul>
    </div>
    <div>
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" id='new_date' readonly/>
            <span class="input-group-addon" id="calendar">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <button type='button' id='add_date'>+</button>
    </div>
</div>

<script>
    $(function () {
        let date = $('#datetimepicker1').datetimepicker();
        $('#datetimepicker1').data("DateTimePicker").ignoreReadonly(true);

        socket.emit('page_loaded', $('#chatroom-status').attr('chatroom-id'));

        $('#add_date').on('click',()=>{
            if($('#new_date').val() != ""){

                let data = {
                    chatroom_id : $('#chatroom-status').attr('chatroom-id'),
                    date : moment($('#new_date').val()).unix()
                }
                console.log(data);
                socket.emit('date_created', data);
            }else{
                alert('Invalid date');
            }
        })
        $('.poll').on('click','.date_poll', (e)=>{
            //add data-id = db primary key + $(this).data('id')
            let data ={
                checkbox_id : $(e.target).attr('data-id'),
                chatroom_id : $('#chatroom-status').attr('chatroom-id'),
                chatroom_url : $('#chatroom-status').attr('chatroom-url')
            }
            if($(e.target).prop('checked')==true){
                socket.emit('date_vote_increase',data)
            }else if($(e.target).prop('checked') == false){
                socket.emit('date_vote_decrease',data)
            }
        })

        socket.on('date_table_updated',(data)=>{
            //render table here;
            let list =""
            for(let i = 0;i<data.length;i++){
                let date =moment.unix(data[i].date);
                list +=`<li><input type='checkbox' class='date_poll' ${data[i].voted} data-id=${data[i].id}> ${date}
                voted:${data[i].num_of_ppl}
            </li>`
            }
            let table=`<ul class ="date_list" style ='list-style-type:none;padding:0px'>${list}</ul>`
                $('#date_list').html(table)
        })
        socket.on('err_message_for_date',(message)=>{
            alert(message);
        })
    });

</script>

