{{chatroom.chatroomName}}
<div id="chatroom-status" chatroom-id="{{chatroom.id}}" chatroom-url="{{chatroom.url}}"></div>
<div id="chatroom-container" style="overflow-y:scroll; height:200px">
    <ul class="list-group" id="user-list">
    </ul>
</div>
<div id="user-panel"></div>
<button class="btn btn-sm btn-warning" id="leave">Leave Chatroom</button>
<button class="btn btn-sm btn-primary" id="invite" data-toggle="modal" data-target="#myModal">Invite Somebody</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Invite Users</h4>
            </div>
            <div class="modal-body">
                <form id="invite-users">
                    <div class="form-group">
                    <label for="sel1">Select users to invite (hold shift to select more than one):</label>
                    <select multiple class="form-control" id="users-to-be-invited">
                        {{!-- Render user list here --}}
                    </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Invite</button>
                </form>
            </div>
        </div>
      
    </div>
</div>
<script>
    $(function () {

        let chatroom_url = $('#chatroom-status').attr('chatroom-url');
        console.log(chatroom_url);

        //Click the 'Leave chatroom' button to logout
        $("#leave").click((e) => {
            let isLeaveChatroom = confirm('Are you sure to leave this chatroom?');
            if (isLeaveChatroom == true) {
                socket.emit('user_leave_chatroom',chatroom_url);
                window.location.href = '/lobby';
            }
        });

        //Leave the chatroom when window is close but still logged in
        $(window).on('unload', function(){
            socket.emit('user_leave_chatroom');
        });

        //Emit 'load_messages_from_redis' event intially
        socket.emit('load_users_in_chatroom_from_redis', chatroom_url);

        //Display userlist in chatroom
        socket.on('show_users_in_chatroom', (data) => {
            let userlist_content = '';
            data.forEach((user) => {
                userlist_content += `<li class="list-group-item">${user.username}</li>`;
            });
            $('ul#user-list').html(userlist_content);
            $('#chatroom-status').html(`<h5 id="chatroom-status">${data.length} user(s) in this chatroom</h5>`);
        });

        //When another user enter the chatroom
        socket.on('add_user_in_chatroom', (data) => {
            console.log(data);
            let html = `<li class="list-group-item">${data.username}</li>`;
            $('ul#user-list').append(html);
        });

        //Return error message and redirect to lobby
        socket.on('error_message', (message) =>{
            alert(message);
            window.location.href = '/lobby';
        });

        $('#invite').click(() => {
            $.get('/api/invite_user_list')
            .done((data) => {
                console.log(data);
                let html = '';
                data.forEach((user) =>{
                    html += `<option value="${user.id}">${user.userName}</option>`
                });
                $('#invite-users select').html(html);
            });
        });

        $('#invite-users').submit((e) => {
            e.preventDefault();

            let ids = [];
            $('#users-to-be-invited :selected').each(function(i, selected){
                ids[i] = $(selected).val();
            });
            let data = {
                users: ids
            }
            $.post('/api/invite_users/' + $('#chatroom-status').attr('chatroom-id'), data)
                .done((response) =>{
                    alert('Success to invite users!');
                })
                .fail((err) =>{
                    console.log(err);
                    alert(err);
                }).always(() => {
                    $('#myModal').modal('hide');
                });
        });

    });
</script>