body {
    background-color: #9B9B9B;
}

#container {
    width: auto;
    margin: atou;
    background-color: white;
}

header {
    text-align: center;
    padding-top: 20px;
}

section {
    display: flex;
}

#navigation {
    width: 30%;
    padding-left: 30px;
}

#content {
    width: 60%;
}

.link {
    color: red;
}